<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<table>
  <% rows.forEach(function(r) { %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.height %></td>
      <td><%= r.width %></td>
      <td><%= r.color %></td></td>
    </tr>
  <% }); %>
</table>

</div>

</body>
</html>
